nav {
  margin-bottom: 0px;
}

.navbar{
  margin-bottom: 0px;
}

.DataTable{
  margin-top: 10px;
  display: inline-block;
  width: 80%;
}

.ReactTable.-striped.-highlight {
  margin: 10px;
}

.TableAddButton {
  margin-left: 10px;
}

.sidebar {
  float: left;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 20%;
  background-color: rgb(60, 60, 60);
}

.list-group {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

.form{
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

.list-group-item {
    color: white;
    margin: 0px;
    background-color: rgb(60, 60, 60);
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(60, 60, 60);
}

.list-group-item:hover {
    background-color: rgb(100, 100, 100);
}
