
.navbar{
  margin-bottom: 0px;
}

.DataTable{
  margin-top: 10px;
}

.ReactTable.-striped.-highlight {
  margin: 10px;
}

.rt-tr {
  cursor : pointer;
}

.TableAddButton {
  margin-left: 10px;
}

.noPadding {
  padding: 0px;
}

.sidebar {
  float: left;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgb(60, 60, 60);
}

.list-group {
}

.list-group-item {
    color: white;
    margin: 0px;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(60, 60, 60);
}

.list-group-item:hover {
    background-color: rgb(100, 100, 100);
}

.taskEdit {
}

.taskEditNoTask {
    margin-top: 50px;
}

.DataTableAddButton {
  margin-left: 10px;
}

.form {
  margin: 10px;
}
